[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = ">1.0.0"
torchvision = "*"
pandas = "==1.2.5"
ipython = "<8.0.0"
pytorch = "*"
mustard = "*"
tqdm = "==2.2.3"
nextai = ">=0.0.1"
Django = ">=3.2,<4.3"

[dev-packages]

[requires]
python_version = "3.9"
